
a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
}

h1 {
    font-size:4rem;
    font-family: cursive;
    margin: 1rem;
}

h2 {
font-size: 4rem;
text-align: center;
font-family: cursive;
}

h3 {
    font-size: 4rem;
    text-align: center;
    font-family: cursive;
}
h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0 ,0 , 0.2) !important;
    transition: .3s;
    }
    .shadow:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.40) !important;
    }
