@import "./parciales/responsives";
@import "./variables";

.blog {
    .entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
    }
    .entrada {
    border: none;
    margin-bottom: 0;
    padding: 2rem;
    }
    .boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    }
}
.boton--primario {
background-color: var(--negro);
}
.boton--primario:hover {
color: #e1e1e1;
}
.sidebar ul {
list-style: none;
}
.widget-nosotros {
padding: 1rem;
margin-bottom: 2rem;
}
.subtitulo {
text-align: center;
}
.entrada-home {
padding: 1rem;
margin: 1rem;
}

.home dos-columnas {
display: grid;
grid-template-columns: repeat(3, 1fr);
column-gap: 2rem;
}

.home {
    padding: 2rem;
}
.widget-trabajos {
     padding: 3rem;
}

.trabajos {
display: grid;
grid-template-columns: repeat(1, 2fr);
column-gap: 2rem;
}
.trabajos {
padding: 3rem 0;
border-bottom: 1px solid var(--gris);
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    padding: 2rem;
}



